.key {
  padding: 10px;
  font-size: 20px;
  width: 100px;
  height: 100px;
}

.key1 {
  grid-row: 3;
  grid-column: 1;
}

.key2 {
  grid-row: 3;
  grid-column: 2;
}

.key3 {
  grid-row: 3;
  grid-column: 3;
}

.key4 {
  grid-row: 4;
  grid-column: 1;
}

.key5 {
  grid-row: 4;
  grid-column: 2;
}

.key6 {
  grid-row: 4;
  grid-column: 3;
}

.key7 {
  grid-row: 5;
  grid-column: 1;
}

.key8 {
  grid-row: 5;
  grid-column: 2;
}

.key9 {
  grid-row: 5;
  grid-column: 3;
}

.keystar {
  grid-row: 6;
  grid-column: 1;
}

.key0 {
  grid-row: 6;
  grid-column: 2;
}

.keyspace {
  grid-row: 6;
  grid-column: 3;
}
