code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* :root {
  --bg-color: rgb(114, 140, 177);
  --display-color: hsla(215, 100%, 72%, 1);
  --off-white: hsla(215, 85%, 95%, 1);
} */

* {
  box-sizing: border-box;
  font-family: "Open Sans";
  border-radius: 3px;
}

button::-moz-focus-inner {
  border: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
}
